!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi "#{@user.user_name}"
      %br
      Welcome to our new cloud based serial number tracking system.
      %br
      This has been designed to allow you to quickly register your customers new units qualifying them for their extended warranty. It will also allow you to view your existing customers past purchase dates/prices paid/remaining balance on warranty/and full service history on each unit sold.
      %br
      Your account is successfully created.
      %br
      your username is: #{@user.email}
      %br
      your password is: #{@user.password}
      %br
      %br
    %p
      To login to the site, just follow this link: #{@url}.
      %br
      %br
    %p
      If you have any questions, please feel free to call us directly on 0800 284 443
      %br
      %br
      Kind Regards,
      %br
      %br
      The Team at GoMotorised Golf
      %br
      %br
      GoMotorised Golf
      %br
      8 William Pickering Drive
      %br
      Albany 0632 Auckland
